[submodule "website-dev"]
	path = apps/website
	url = https://github.com/ChaosCantrip/DestinyTCG.Website.git
	branch = dev
[submodule "mobile-website-dev"]
	path = apps/mobile-website
	url = https://github.com/ChaosCantrip/DestinyTCG.MobileWebsite.git
	branch = dev
[submodule "admin-website-dev"]
	path = apps/admin-website
	url = https://github.com/ChaosCantrip/DestinyTCG.AdminWebsite.git
	branch = dev
