[submodule "apps/api"]
	path = apps/api
	url = https://github.com/ChaosCantrip/DestinyTCG.API.git
	branch = dev
[submodule "apps/website"]
	path = apps/website
	url = https://github.com/ChaosCantrip/DestinyTCG.Website.git
	branch = dev
[submodule "apps/mobile-website"]
	path = apps/mobile-website
	url = https://github.com/ChaosCantrip/DestinyTCG.MobileWebsite.git
	branch = dev
[submodule "apps/discord-bot"]
	path = apps/discord-bot
	url = https://github.com/ChaosCantrip/DestinyTCG.DiscordBot.git
	branch = dev
[submodule "apps/polling-service"]
	path = apps/polling-service
	url = https://github.com/ChaosCantrip/DestinyTCG.PollingService.git
	branch = dev
